{{#graphqlModel}}
{{modelType}} {{modelName}} {{#isExtends}}implements {{extendingInterface}} {{/isExtends}}{
    {{#graphqlFields}}
    {{#fieldDescription}}
    #{{fieldDescription}}#
    {{/fieldDescription}}
    {{fieldName}} : {{fieldType}}

    {{/graphqlFields}}
}
{{/graphqlModel}}

{{#customScalars}}
scalar {{name}}
{{/customScalars}}